@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width:100%;

} 
 header{
    display: flex;
    justify-content:justify;
    text-align:start;
    min-width:100vh;
    min-height:100vh;
    
    
    
}

 header,#home{
    overflow-x:hidden;
    background: linear-gradient(to right,#d35400,#e67e22);
 }
    
li{
    padding:10px;

}
#link{
    color:white;
    font-weight: bold;
    font-size:20px ;

}
 
 #logo{
    font-size: 30px;
    font-weight:bolder;
    color:white ;
    
 }
#para{
    color:white;
}
.nav-link:hover{
    border-radius:5px ;
    transition: 0.01s;

    
}
#button{
    background-color:transparent ;
    color:white ;
    border: 1px solid white;
 
}
/*******features*******/
#features h4,#features1 h4{
    font-weight:bold ;
}
#features p,#features1 p{
    text-align: start;

}

#features,#features1{
    min-width:100vh;
    overflow-x:hidden;
    background-color: aliceblue;
}
#features,#features1{
    
    text-align: center;
    justify-content:center;
} 
 
#about img{
    width:25rem;
    height:25rem;
}
.card img{
    height:200px;
}
form{
    padding:40px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2),
                 -1px 2px 5px rgba(0,0,0,.2);
}
footer{
    min-width:100vh;
    overflow-x:hidden;
    background: linear-gradient(to right,#d35400,#e67e22);
    
   
    
}
#foot{
    
    text-align: center;
    justify-content: center;

}
.f1,.f2,.f3{
    padding:20px;
}